<html>
<head>
    <title>Business Card Parser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://javascriptAndAjax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    body {
      background-color: lightblue;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    h1 {
      color: blue;
      text-align: center;
    }

    p {
      font-family: verdana;
      font-size: 20px;
    }

    </style>
</head>
<div class="jumbotron text-center">
    <h1>Business Card App </h1>

</div>
<body>
<h1>Scanned Result</h1>
<h3>{{ result }}
    <h3>
        <ul>
            <a href="http://127.0.0.1:5000?">Back to Home Page</a>
        </ul>
</body>
</html>